
<section class="section-hero  inner-page fixed;" style="background:#2474A6;" id="home-section">
</section>
<div class="site-wrap">

<div class="site-mobile-menu site-navbar-target">
  <div class="site-mobile-menu-header">
    <div class="site-mobile-menu-close mt-3">
      <span class="icon-close2 js-menu-toggle"></span>
    </div>
  </div>
  <div class="site-mobile-menu-body"></div>
</div>  <!-- .site-mobile-menu -->


<!-- NAVBAR --> 



<header class="site-navbar mt-4">
    

  <div class="container-fluid">
    <div class="row align-items-center">
        <div class="site-logo col-6 mt-4"><a href="index.html" ><img src="assets/images/sarra.png" style="width: 160;"alt="" title=""></a></div>

      <nav class="mx-auto site-navigation d-flex aligin-items-center col-5">
        <ul class="site-menu js-clone-nav d-none d-xl-block ml-0 pl-0">
          <li><a href="/actualite">Actualité</a></li>
          <li><a href="recreture">Profile</a></li>
          <li><a href="offre">Offre</a></li>
          <li><a href="club">Event</a></li>
          <li><a href="propritaire">Coworking</a></li>
          <li class="d-lg-none"><a href="/login.html"> Déconnexion</a></li>
        
          
        </ul>
      </nav>
      
      <div class="right-cta-menu text-right d-flex aligin-items-center col-6">
        <div class="ml-auto">
          <a href="/login" class="btn btn-log border-width-2 d-none d-lg-inline-block"> Déconnexion</a>
        
        </div>
        <a href="#" class="site-menu-toggle js-menu-toggle d-inline-block d-xl-none mt-lg-2 ml-3"><span class="icon-menu h3 m-0 p-0 mt-2"></span></a>
      </div>

    </div>
  </div>


</header>


<main class="main-content">
  
    <!--== Start Page Header Area Wrapper ==-->
    <div class="page-header-area sec-overlay sec-overlay-black" data-bg-img="assets/img/photos/bg2.jpg">
      <div class="container pt--0 pb--0">
        <div class="row">
          <div class="col-12">
            <div class="page-header-content">
                <form action="upload.php" method="post" enctype="multipart/form-data">
                    <label for="file-upload" >
                      <img src="assets/images/photo.png"  >
                    </label>
                    <input id="file-upload" type="file" >
                    
                  </form>
                  <h4 class="text-white font-weight-bold">Ajouter une image de bannière
                    Dimensions optimales 3200 x 410px</h4>
             
            </div>
          </div>
        </div>
      </div>

    </div>


    <div class="">
      <div class="main-body">
      
    
          
      
            <div class="row gutters-sm">
              <div class="col-md-4 mb-3">
                <div class="card">
                  <div class="card-body">
                    <div class="d-flex flex-column align-items-center text-center">
                      <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Admin" class="rounded-circle" width="150">
                      
                      <div class="mt-3">
                        <h4>ahmed ayari</h4>
                        <p class="text-secondary mb-1">Full Stack Developer</p>
                        <p class="text-muted font-size-sm">Tunis</p>
                        <button class="btn btn-primary">+Suivre</button>
                        <button class="btn btn-outline-primary">Message</button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card mt-3">
                <h1> Information de base</h1>
                
                <div class="row mt-3">
                  <div class="col-md-6"><label class="labels">Nom</label><input type="text" class="form-control" placeholder="" value=""></div>
                 
                  <div class="col-md-6"><label class="labels">Prenom</label><input type="text" class="form-control" value="" placeholder=""></div>
                  <div class="col-md-12"><label class="labels">Profession</label><input type="text" class="form-control" placeholder="Ex Developpeur,DEsinger .." value=""></div>
                  <div class="col-md-6"><label class="labels">Gouvernorat</label>
                    <select class="selectpicker" data-style="btn-white btn-lg" data-width="100%" data-live-search="true" title="...">
                      <option>Ariana</option>
                      <option>Beja</option>
                      <option>Ben Arous</option>
                      <option>Bizerte</option>
                      <option>Gafsa</option>
                      <option>El Kef</option>
                      <option>Gabes</option>
                    </select></div>

                 <div class="col-md-6"><label class="labels">Ville</label><input type="text" class="form-control" value="" placeholder="state"></div>
                </div>
                <h1>   A propos de moi </h1>
               
                <p class="card-description">Titre de section <label class="labels"></label><input type="text" class="form-control" placeholder=" a propos de moi " value=""></p> 
                     
                <div class="form-floating w-100">
                  <p class="card-description">Description  <textarea class="form-control" placeholder="........" id="floatingTextarea2" style="height: 100px"></textarea>
                  <label for="floatingTextarea2"></label></p> 
                  <button class="btn btn-primary">ok</button>
                </div>
           <label >  Parcours Universitaire</label>     <button type="button" class="" data-toggle="modal" data-target="#exampleModal-4" data-whatever="@fat">+ Ajuter Parcours Universitaitre</button>
<div class="modal fade" id="exampleModal-4" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true" style="display: none;">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="ModalLabel">Nouveau Parcours universitaire</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                      
                          <form>
                            <div class="form-group">
                              <label for="recipient-name" class="col-form-label">université :</label>
                              <input type="text" class="form-control" id="recipient-name">
                            </div>
                            <div class="form-group"> <label>Diplome</label> <select class="form-control select2 select2-hidden-accessible" style="width: 100%;" tabindex="-1" aria-hidden="true">
                              <option selected="selected"></option>
                              <option>Ingenieurie</option>
                              <option>Master</option>
                              <option>licnece</option>
                              <option>Doctorat</option>

                          </select> </div> <!-- /.form-group -->
                            <div class="form-group">
                              <label for="message-text" class="col-form-label">Nom Diplome:</label>
                              <textarea class="form-control" id="message-text" spellcheck="false"></textarea>
                            </div>
                            <div class="form-group">
                              <label for="message-text" class="col-form-label">Date debut</label>
                              <div class='input-group date' id='datetimepicker7'>
                                <input type='text' class="form-control" />
                                <span class="input-group-addon">
                                              <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                              </div>
                            </div>
                            <div class="form-group">
                              <label for="message-text" class="col-form-label">Date d'obtention</label>
                              <div class='input-group date' id='datetimepicker7'>
                                <input type='text' class="form-control" />
                                <span class="input-group-addon">
                                              <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                              </div>
                            </div>



                            
                          </form>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-success">Enregistrer</button>
                          <button type="button" class="btn btn-light" data-dismiss="modal">Annler</button>
                        </div>
                      </div>
                    </div>
               
                    <label >  Experience Professionnelle</label>     <button type="button" class="" data-toggle="modal" data-target="#exampleModal-4" data-whatever="@fat">+ Ajuter Experience Professionnelle</button>
                    <div class="modal fade" id="exampleModal-4" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true" style="display: none;">
                      <div class="modal-dialog" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="ModalLabel">Nouveau Parcours universitaire</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                        
                            <form>
                              <div class="form-group">
                                <label for="recipient-name" class="col-form-label">Nom Entreprise :</label>
                                <input type="text" class="form-control" id="recipient-name">
                              </div>
                              <div class="form-group"> <label>Diplome</label> <select class="form-control select2 select2-hidden-accessible" style="width: 100%;" tabindex="-1" aria-hidden="true">
                                <option selected="selected"></option>
                                <option>Ingenieurie</option>
                                <option>Master</option>
                                <option>licnece</option>
                                <option>Doctorat</option>
  
                            </select> </div> <!-- /.form-group -->
                              <div class="form-group">
                                <label for="message-text" class="col-form-label">Nom Diplome:</label>
                                <textarea class="form-control" id="message-text" spellcheck="false"></textarea>
                              </div>
                              <div class="form-group">
                                <label for="message-text" class="col-form-label">Date debut</label>
                                <div class='input-group date' id='datetimepicker7'>
                                  <input type='text' class="form-control" />
                                  <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                  </span>
                                </div>
                              </div>
                              <div class="form-group">
                                <label for="message-text" class="col-form-label">Date d'obtention</label>
                                <div class='input-group date' id='datetimepicker7'>
                                  <input type='text' class="form-control" />
                                  <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                  </span>
                                </div>
                              </div>
  
  
  
                              
                            </form>
                            <div class="col-md-4 mb-3">
                              <div class="card">
                                <div class="card-body">
                            <label >  Parcours Universitaire</label>     <button type="button" class="" data-toggle="modal" data-target="#exampleModal-4" data-whatever="@fat">+ Ajuter Parcours Universitaitre</button>
                            <div class="modal fade" id="exampleModal-4" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true" style="display: none;">
                                                <div class="modal-dialog" role="document">
                                                  <div class="modal-content">
                                                    <div class="modal-header">
                                                      <h5 class="modal-title" id="ModalLabel">Nouveau Parcours universitaire</h5>
                                                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                      </button>
                                                    </div>
                                                  
                                                      <form>
                                                        <div class="form-group">
                                                          <label for="recipient-name" class="col-form-label">université :</label>
                                                          <input type="text" class="form-control" id="recipient-name">
                                                        </div>
                                                        <div class="form-group"> <label>Diplome</label> <select class="form-control select2 select2-hidden-accessible" style="width: 100%;" tabindex="-1" aria-hidden="true">
                                                          <option selected="selected"></option>
                                                          <option>Ingenieurie</option>
                                                          <option>Master</option>
                                                          <option>licnece</option>
                                                          <option>Doctorat</option>
                            
                                                      </select> </div> <!-- /.form-group -->
                                                        <div class="form-group">
                                                          <label for="message-text" class="col-form-label">Nom Diplome:</label>
                                                          <textarea class="form-control" id="message-text" spellcheck="false"></textarea>
                                                        </div>
                                                        <div class="form-group">
                                                          <label for="message-text" class="col-form-label">Date debut</label>
                                                          <div class='input-group date' id='datetimepicker7'>
                                                            <input type='text' class="form-control" />
                                                            <span class="input-group-addon">
                                                                          <span class="glyphicon glyphicon-calendar"></span>
                                                            </span>
                                                          </div>
                                                        </div>
                                                        <div class="form-group">
                                                          <label for="message-text" class="col-form-label">Date d'obtention</label>
                                                          <div class='input-group date' id='datetimepicker7'>
                                                            <input type='text' class="form-control" />
                                                            <span class="input-group-addon">
                                                                          <span class="glyphicon glyphicon-calendar"></span>
                                                            </span>
                                                          </div>
                                                        </div>
                            
                            
                            
                                                        
                                                      </form>
                                                    </div>
                                                    <div class="modal-footer">
                                                      <button type="button" class="btn btn-success">Enregistrer</button>
                                                      <button type="button" class="btn btn-light" data-dismiss="modal">Annler</button>
                                                    </div>
                                                  </div>
                                                </div>
                                           
                                                <label >  Experience Professionnelle</label>     <button type="button" class="" data-toggle="modal" data-target="#exampleModal-4" data-whatever="@fat">+ Ajuter Experience Professionnelle</button>
                                                <div class="modal fade" id="exampleModal-4" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true" style="display: none;">
                                                  <div class="modal-dialog" role="document">
                                                    <div class="modal-content">
                                                      <div class="modal-header">
                                                        <h5 class="modal-title" id="ModalLabel">Nouveau Parcours universitaire</h5>
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                          <span aria-hidden="true">&times;</span>
                                                        </button>
                                                      </div>
                                                    
                                                        <form>
                                                          <div class="form-group">
                                                            <label for="recipient-name" class="col-form-label">Nom Entreprise :</label>
                                                            <input type="text" class="form-control" id="recipient-name">
                                                          </div>
                                                          <div class="form-group"> <label>Diplome</label> <select class="form-control select2 select2-hidden-accessible" style="width: 100%;" tabindex="-1" aria-hidden="true">
                                                            <option selected="selected"></option>
                                                            <option>Ingenieurie</option>
                                                            <option>Master</option>
                                                            <option>licnece</option>
                                                            <option>Doctorat</option>
                              
                                                        </select> </div> <!-- /.form-group -->
                                                          <div class="form-group">
                                                            <label for="message-text" class="col-form-label">Nom Diplome:</label>
                                                            <textarea class="form-control" id="message-text" spellcheck="false"></textarea>
                                                          </div>
                                                          <div class="form-group">
                                                            <label for="message-text" class="col-form-label">Date debut</label>
                                                            <div class='input-group date' id='datetimepicker7'>
                                                              <input type='text' class="form-control" />
                                                              <span class="input-group-addon">
                                                                            <span class="glyphicon glyphicon-calendar"></span>
                                                              </span>
                                                            </div>
                                                          </div>
                                                          <div class="form-group">
                                                            <label for="message-text" class="col-form-label">Date d'obtention</label>
                                                            <div class='input-group date' id='datetimepicker7'>
                                                              <input type='text' class="form-control" />
                                                              <span class="input-group-addon">
                                                                            <span class="glyphicon glyphicon-calendar"></span>
                                                              </span>
                                                            </div>
                                                          </div>
                              
                              
                              
                                                          
                                                        </form>
            
              </div>
            </div>
          </div>
                    
                  
        
  
             
                              <style>
                                /* Hide the default file input text */
                                input[type=file] {
                                  opacity: 0;
                                  position: absolute;
                                  z-index: -1;
                                }
                                
                                /* Style the custom file upload button */
                                .custom-file-upload {
                                  display: inline-block;
                                 
                                  border-radius: 4px;
                                  padding: 6px 12px;
                                  cursor: pointer;
                                }
                                
                                /* Style the file select text */
                                .file-select-text {
                                  margin-left: 10px;
                                }
                              </style>
                              

                           

                          