<section class="section-hero  inner-page fixed;" style="background:#2474A6;" id="home-section">
</section>
<div class="site-wrap">

<div class="site-mobile-menu site-navbar-target">
  <div class="site-mobile-menu-header">
    <div class="site-mobile-menu-close mt-3">
      <span class="icon-close2 js-menu-toggle"></span>
    </div>
  </div>
  <div class="site-mobile-menu-body"></div>
</div>  <!-- .site-mobile-menu -->


<!-- NAVBAR --> 


<header class="site-navbar mt-4">
    

  <div class="container-fluid">
    <div class="row align-items-center">
        <div class="site-logo col-6 mt-4"><a href="index.html" ><img src="assets/images/sarra.png" style="width: 160;"alt="" title=""></a></div>

      <nav class="mx-auto site-navigation d-flex aligin-items-center col-5">
        <ul class="site-menu js-clone-nav d-none d-xl-block ml-0 pl-0">
          <li><a href="/actualite">Actualité</a></li>
          <li><a href="c">Profile</a></li>
          <li><a href="offre">Offre</a></li>
          <li><a href="event">Event</a></li>
          <li><a href="cow">Coworking</a></li>
          <li class="d-lg-none"><a href="/login.html">Déconnexion</a></li>
        
          
        </ul>
      </nav>
      
      <div class="right-cta-menu text-right d-flex aligin-items-center col-6">
        <div class="ml-auto">
          <a href="/login" class="btn btn-log border-width-2 d-none d-lg-inline-block"> Déconnexion</a>
        
        </div>
        <a href="#" class="site-menu-toggle js-menu-toggle d-inline-block d-xl-none mt-lg-2 ml-3"><span class="icon-menu h3 m-0 p-0 mt-2"></span></a>
      </div>

    </div>
  </div>

</header>









<body id="top">


<section>
        <!-- Hero Area Start-->
        <div class="slider-area ">
            <div class="single-slider section-overly slider-height2 d-flex align-items-center" style="background-image: url('assets/images/event.jpg');" id="home-section">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-15">
                         
                                <div class="mb-5 text-center">
                                    <h1 class="text-white font-weight-bold">Développez votre réseau professionnel</h1>
                                    <p class="text-light ">Élargissez votre champ d'action en rencontrant des professionnels de votre domaine et en explorant de nouvelles possibilités.</p>
                              
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
        <!-- Hero Area End -->
        <!-- Job List Area Start -->
        <div class="job-listing-area pt-120 pb-120 ">
            <div class="container1 ml-5">
                <div class="row">
                    <!-- Left content -->
                    <div class="col-xl-3 col-lg-3 col-md-4">
                        <div class="row">
                            <div class="col-12">
                                    <div class="small-section-tittle2 mb-45">
                                    <div class="ion">
                                    </div>
                                    <h4>Filters </h4>
                                </div>
                            </div>
                        </div>
                        <!-- Job Category Listing start -->
                        <div class="job-category-listing mb-5 ">
                            <!-- single one -->
                            <div class="single-listing">
                               <div class="small-section-tittle2">
                                    <!-- <h4>Job Category</h4>-->
                               </div>


                             

 <!-- select-Categories start -->
 <div class="select-Categorie pt-60 ">
    <div class="small-section-tittle">
        <h5>Etablissement</h5>
    </div>

              <input type="text" class="form-control  form-control" placeholder="Ex:ISAMM" aria-label=""></div>





<!-- Select job items start -->
<div class="select-Categorie pt-60 pb-5">
   
    <h5>Localisation</h5>  
                               
                                
                               <select id="inputState" class="form-select form-control">
                                <option selected>Ville...</option>
                  <option value="MONASTIR">MONASTIR</option>
                  <option value="TUNIS">TUNIS</option>
                  <option value="SOUSSE">SOUSSE</option>
                  <option value="MAHDIA">MAHDIA</option>
                  <option value="SFAX">SFAX</option>
                  <option value="GABES">GABES</option>
                  <option value="MEDNINE">MEDNINE</option>
                  <option value="TATAOUINE">TATAOUINE</option>
                  <option value="KEBILI">KEBILI</option>
                  <option value="GAFSA">GAFSA</option>
                  <option value="TOZEUR">TOZEUR</option>
                  <option value="ARIANA">ARIANA</option>
                  <option value="BEN AROUS">BEN AROUS</option>
                  <option value="MANOUBA">MANOUBA</option>
                  <option value="BEJA">BEJA</option>
                  <option value="JANDOUBA">JANDOUBA</option>
                  <option value="EL KEF">EL KEF</option>
                  <option value="SIDI BOUZID">SIDI BOUZID</option>
                  <option value="KASSERINE">KASSERINE</option>
                  <option value="SELIANA">SELIANA</option>
                  <option value="BIZERTE">BIZERTE</option>
                  <option value="KAIROUAN">KAIROUAN</option>
                  <option value="NABEUL">NABEUL</option>
                  <option value="ZAGHOUAN">ZAGHOUAN</option>
                  <option value="Medjez elbeb">Medjez elbeb</option>
                  <option value="Tunis">Tunis</option>
                  <option value="Medjez elbeb">Medjez elbeb</option>
                  <option value="Medjez elbeb">Medjez elbeb</option>
                               
                               </select>
                                 <!--  Select job items End-->
                            

                                 <div class="select-Categorie pt-60 pb-5">
   
                                    <h5>Type event</h5>  
                                                               
                                                                
                                                               <select id="inputState" class="form-select form-control">
                                                                <option selected>Type event</option>
                                                  <option value="team">Team Building</option>
                                                  <option value="formation">Formatin</option>
                                                  <option value="evenement">Evenement</option>
                                                  <option value="conference">Conférence</option>
                                                  <option value="soiree">Soirée</option>
                                                  <option value="action">Action</option>
                                                  
                                               
                                                               
                                                               </select>


 <!-- Select job items start -->
          
 <div class="select-Categorie pt-60 pb-5">
   
    <h5>Club</h5>  
                               
                                
                               <select id="inputState" class="form-select form-control">
                                <option selected>Nom de Club</option>
                  <option value="tunivisions">Tunivisions</option>
                  <option value="orenda">Orenda</option>
                  <option value="boubli">Boubli</option>
                  <option value="rotaract">Rotaract</option>
                  <option value="culti">Culti Club</option>
                  <option value="radio">Club Radio</option>
                  <option value="jeunes">Jeunes Ingénieurs</option>
                  <option value="robotique">Robotique</option>
                  <option value="enactus">Enactus</option>
                
                               
                               </select>        
                             
                                 <!--  Select job items End-->
                            



                               



                                 
 <!-- Select job items start -->

 <div class="select-Categorie pt-60 pb-5">
   
    <h5>Evenement professionnelles</h5>  
                               
                                
                               <select id="inputState" class="form-select form-control">
                                <option selected>...</option>
                  <option value="conférence">conférence </option>
                  <option value="congres">congrès</option>
                  <option value="seminaire">séminaire </option>
                  <option value="salon">salon professionnel</option>
                  <option value="team-building">team-building</option>
                  <option value="incentive">L’incentive</option>
                  <option value=" lancement de produit "> lancement de produit </option>
                  
                               
                               </select>       
                                  <!--  Select job items End-->
                                
                             


              <div class="col-md-4  ">  </div>
              <div class="col-md-4  ">  </div>
              <div class="col-md-4  ">  </div><br>
              <div class="items-link items-link2 mb-4  color:#2474A6">
                <a style="background-color: #2474A6; "href="job_details.html">recherche</a>
              
              
            </div>
 </div>  
                            </div>
                           
 </div>


                           
                                <!-- select-Categories End -->
                            </div>
                         
                            </div>
                        </div>
                        <!-- Job Category Listing End -->
                  

                        </div>
                    






                    <!-- Right content -->
                    <div class="col-xl-6 col-lg-6 col-md-8">
                        <!-- Featured_job_start -->
                        <section class="featured-job-area">
                            <div class="container ">
                                <!-- Count of Job list Start -->
                                <div class="row">
                                    
                                    <div class="col-lg-12">
                                       <!-- search bar right align -->
        <div class="search">
            <form action="#">
                <input type="text" style="border:5px;"
                    placeholder=" Commencez à chercher...
                    "
                    name="search">
                <button>
                    <i class="fas fa-search"
                        style="font-size: 18px;">
                    </i>
                </button>
            </form>
        </div>
    
<style>

        /* styling search bar */
        .search input[type=text]{
            width:600px;
            height:25px;
            border:20px;
            border-color: #0470b7;
        }
             
        .search{
            float:center;
            margin:5px;
        }
             
        .search button{
            background-color: #0074D9;
            color: #f2f2f2;
            float: right;
            padding: 5px 10px;
            margin-right: 16px;
            font-size: 12px;
            border: none;
            cursor: pointer;
        }

</style>




                                    </div>
                                </div>
                                <!-- Count of Job list End -->
                                <!-- single-job-content -->
                                <div class="single-job-items mr-2 pt-2">
                                    <div class="job-items">
                                        <div class="company-img mt-4">
                                           

                                            <a href="#"><img src="assets/images/boublilogo.png" alt=""></a>
                                      
                                        <div class="job-tittle job-tittle mt-4">
                                            <ul>
                                            <a href="#">
                                                <li><h5>Boubli</h5></li>
                                            </a>
                                            <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" fill="currentColor" class="bi bi-circle-fill"  class="text-secondary" viewBox="0 0 16 16">
                                                <circle cx="3" cy="10" r="2"/>
                                              </svg>
                                            <li>ISAMM</li>
                                        </ul>
                                            <ul>
                                                <li><p>Le "Launch Event" est notre premier événement, qui se devait de promouvoir le lancement de notre club mais aussi de discuter de la scène de la création de contenu en Tunisie avec de grands créateurs de contenu avec une bonne réputation.
                                                </p></li><br>
                                               
                                                <a href="#"><img src="assets/images/e.png" alt="" style="width: 570px;  "></a>
                                              
                                            </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-5  ">  </div>
                                    <div class="col-md-5 mt-3 ">           
                                    <a input type="bouton" style="font-size:15px;font-weight:500;color:#2474A6;"href="c" type="button">Voir Plus</a>
                                  </div>
                                    <div class="voir ml-5 ">
                                        <div class="voir ml-5 "></div> 
                                       
                                    </div>
                                </div>
                                 <!-- single-job-content -->
                                  <!-- single-job-content -->
                                <div class="single-job-items mt-30 mr-2">
                                    <div class="job-items">
                                        <div class="company-img mt-4">
                                           

                                            <a href="#"><img src="assets/images/j.png" alt=""></a>
                                      
                                        <div class="job-tittle job-tittle mt-3">
                                            <ul>
                                            <a href="#">
                                                <li><h5>Jeunes Ingénieurs</h5></li>
                                            </a>
                                            <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" fill="currentColor" class="bi bi-circle-fill"  class="text-secondary" viewBox="0 0 16 16">
                                                <circle cx="3" cy="10" r="2"/>
                                              </svg>
                                            <li>ISAMM</li>
                                        </ul>
                                            <ul>
                                                <li><p>L'événement L'AMI, TJI-META,est consacré à la découverte des dernières évolutions et innovations
                                                    de le métavers appliquée aux assurances .Relevez le défi et tentez de gagner des prix .</p></li><br>
                                               
                                                <a href="#"><img src="assets/images/ami.jpg" alt="" style="width: 570px;  "></a>
                                              
                                            </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-5  ">  </div>
                                    <div class="col-md-5 mt-3 ">           
                                    <a input type="bouton" style="font-size:15px;font-weight:500;color:#2474A6;"href="c" type="button">Voir Plus</a>
                                  </div>
                                    <div class="voir ml-5 ">
                                        <div class="voir ml-5 "></div>
                                       
                                    </div>
                                </div>



                                
                               </div>
                            
                        </section>
                        <!-- Featured_job_end -->
                        
                    </div>
                    <!-- Left content -->
                    <div class="col-xl-3 col-lg-3 col-md-4 ">
                        
                        <!-- Job Category Listing start -->
                            <!-- single one -->
                            <div class="single-listing">
                              
                                <!-- Select job items start -->
                                <div class="select-job-items2">
                                    <img src="assets/images/ooredoo.jpg">
                                </div>
                               
                                <!--  Select job items End-->
                                <!-- select-Categories start -->
                                    <div class="small-section-tittle2">
                                        <h4>recent view</h4>
                                    </div>
                                    <label class="container text-secondary " style="font-size:15px">World Jobs
                                       
                                    </label>
                                    <label class="container "style="font-size:15px">UI/UX Designer
                                    
                                    </label><br>
                                    <label class="container text-secondary "style="font-size:15px">AgencyAnalytics
                                        
                                    </label>
                                    <label class="container "style="font-size:15px">Frontend Developer (Website)
                                    
                                    </label>


                                    <br>
                                    <label class="container text-secondary "style="font-size:15px">Clevertech
                                        
                                    </label>
                                    <label class="container "style="font-size:15px">Senior Staff React Developer
                                    
                                    </label>
                                    <h4>Meilleurs clubs
                                    </h4>
                                   
                                
                                    <a href="#"><img src="assets/images/boublilogo.png" class="img-fluid rounded-circle " style="width:40px " alt=""></a><label class=" ml-3"style="font-size:18px,text-secondary">boubli
                                    
                                    </label><br>
                                    <a href="#"><img src="assets/images/t.png" class="img-fluid rounded-circle " style="width:40px " alt=""></a><label class=" ml-3"style="font-size:18px,text-secondary">Tunivisions
                                    
                                    </label>
                                
                
                                <!-- Hero Area End -->
        <!-- Job List Area Start -->
        <div class="job-listing-area pt-60 pb-60 ">
            <div class="container1 ">
                <div class="row">
                    <!-- Left content -->
                    <div class="col-xl-12 col-lg-12 col-md-4">
                        <div class="row">
                            <div class="col-12">
                                   
                            </div>
                        </div>
                        <!-- Job Category Listing start -->
                        <div class="job-category-listing mb-5 ">
                            <!-- single one -->
                            <div class="single-listing">
                               <div class="small-section-tittle2">
                                    <!-- <h4>Job Category</h4>-->
                               </div>


                                <!-- select-Categories start -->
                                <div class="select-Categories pt-20 pb-50">
                                   
                                    <h5 style="font-style:Mulish;font-size:24px; color:#2474A6">vous peut aimer</h5> 
                                    <br>  <br> 
                                    
                                    <a href="#"><img src="assets/images/t.png" class="img-fluid center" style="width:60px " alt=""></a><label class=" ml-3"style="font-size:18px,text-secondary">Tunivisions<br>
                                        <label class="text-secondary">Club Isamm</label><br>
                                       
                                    </label><br><br>
                                    <div class="items-link items-link2 mb-4  color:#2474A6">
                                        <a style="background-color: #2474A6; "href="job_details.html">Suivre</a>
                                      
                                      
                                    </div><br>
                                    <a href="#"><img src="assets/images/j.png" class="img-fluid  " style="width:60px " alt=""></a><label class=" ml-3"style="font-size:18px,text-secondary">Jeunes Ingénieurs<br>
                                        <label class="text-secondary">Club Isamm</label><br>
                                    </label><br><br>
                                    <div class="items-link items-link2 mb-4  color:#2474A6">
                                        <a style="background-color: #2474A6; "href="job_details.html">Suivre</a>
                                      
                                    </div><br>


    




                            
                                 <!--  Select job items End-->
                            








                               



                                 

                                
                             


 </div>  
                            </div>
                           
 </div>


                           
                                <!-- select-Categories End -->
                            </div>
                         
                            </div>
                        </div>
                        <!-- Job Category Listing End -->
                  

                        </div>
                    


                                <!-- select-Categories End -->
                           
                            <!-- single two -->
                        
                                <!--  Select job items End-->
                                <!-- select-Categories start -->
                              
                                <!-- select-Categories End -->
                            <!-- single three -->
                         
                                <!-- select-Categories End -->
                            
                              <!-- Range Slider End -->
                            </div>
                        </div>
                        <!-- Job Category Listing End -->
                    </div>
                </div>
                    </div> 
       
        
        <!-- Job List Area End -->
        <!--Pagination Start  -->
        <div class="pagination-area pb-115 text-center">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="single-wrap d-flex justify-content-center">
                            <nav aria-label="Page navigation example">
                                <ul class="pagination justify-content-start">
                                    <li class="page-item active"><a class="page-link" href="#">01</a></li>
                                    <li class="page-item"><a class="page-link" href="#">02</a></li>
                                    <li class="page-item"><a class="page-link" href="#">03</a></li>
                                <li class="page-item"><a class="page-link" href="#"><span class="ti-angle-right"></span></a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Pagination End  -->
        
   


















        
